html{background-color: silver;}


body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 50px 50px;
  
  
  
}
.main {
  flex:auto;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  float: clear-both;
}

.tile-image {
  
  width: 200px;
height: 200px;
  margin-right: 10px;
 
  
  
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}

.river{max-width: 200px;
max-height: 200px;
display: inline-block;
}


  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    text-align: justify;
  }



