html{background-color: #00ffff;}


body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 50px 50px;
  background-color: #7fffd4;
  display: inline-block;
  flex-direction: column;
  
}
.main {
  flex:auto;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  float: clear;
}

.tile-image {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 50px;
  align-content: center;
  
  
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}

.river{max-width: 200px;
max-height: 200px;
display: inline-block;
}


  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

