h1{font-weight: 300;}
html{background-color: antiquewhite;}
div{
    margin-left: 25%;
    width: 50%;
    

}
 .box1{
 width: 1000px;
margin-left: 0%;
margin-top: 1px;

    
height:auto;
border: 5px black solid;
} 
#box2{color: white;
    inline-size: 100%;
    margin-top: 1px;
    text-align: center;

}
#box3{color: white;
   margin-top: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
}
img{
   padding-left: 35%; 
}